<style>
body {
background-color: gray;
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    border: 2px solid black;
    text-decoration: none;
}
section {
    width:900px;
    float:left;
    padding:30px;
    text-align: center;
}
h2 {
    padding: inherit;
}
p1 {
    padding: inherit;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
a {
text-decoration: none;
    text-align: left;
}


</style>