 h1 {
    color: orchid;
        font-family: cursive;
        font-size: 25px;
    }
    p{
    color: grey;
        font-size: 25px;
        font-family: fantasy;
    }
hr {
color: beige;
}
ul#menu li {
    display:inline;
}
ul#menu {
    padding: 10;
}

ul#menu li{
    background-color: gray;
    color: black;
    padding: 10px 20px;
    text-decoration:underline;
    border-radius: 6px 6px 0 0;
    font-family: fantasy;
}
ul #menu li a {background-color: gray;
    color: black;
    padding: 10px 20px;
    text-decoration:underline;
    border-radius: 6px 6px 0 0;
    font-family: fantasy;
}

ul#menu li :hover {
    background-color: tan;
}